{{define "base"}}
<!DOCTYPE html>
<html lang="en">
  <head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{template "title" .}}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/custom.css">
 </head>
    <input type="hidden" id="loginStatus" value={{.Session.IsLoggedin}}>
    {{if .Session.IsLoggedin}}
        <input type="hidden" id="userId" value={{.Session.User.ID}}>
    {{end}}
    <body>
        <div id="loginRegisterWrapper" class="bg-white">
            {{template "login" .}}
            {{template "register" .}}
        </div>
        <header class="sticky-top">
        {{template "navbar" .}}
        </header>
        <main>
            {{template "createPost" .}}
            <div class="container ps-2 ms-6 pe-0">
                <div class="row ps-0 pe-0">
                    {{template "main" .}}
                </div>
            </div>  
        </main>
    	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
        <script src="https://kit.fontawesome.com/9774833e02.js" crossorigin="anonymous"></script>
        <script type="module" src="/static/js/main.js?v=12"></script>
    </body>
</html>
{{end}}